.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;


}

.card{
    box-sizing: border-box;
    width: 500px;
    height: 600px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    padding: 30px 30px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    color: black;
}